extends layout

block content

	#dv-loading.col-md-9

		if data.memberInfo.memberType != 'xxx'
			#dv-summary.row
				.col-md-4.col-xs-6
					.small-box.bg-aqua
						.inner
							h3#numberNews 0
							p #{__('News')}
						.icon
							i.ion.ion-chatbubble-working
						a.small-box-footer(href='#')
							| #{__('More Info')} 
							i.fa.fa-arrow-circle-right

				.col-md-4.col-xs-6
					.small-box.bg-red
						.inner
							h3#numberWallet 0
							p #{__('Remax Wallet')}
						.icon
							i.ion.ion-social-bitcoin
						a.small-box-footer(href='#')
							| #{__('More Info')} 
							i.fa.fa-arrow-circle-right

				.col-md-4.col-xs-6
					.small-box.bg-orange
						.inner
							h3#numberOrderHistory 0
							p #{__('Order History')}
						.icon
							i.ion.ion-bag
						a.order_history.small-box-footer(href='#')
							| #{__('More Info')} 
							i.fa.fa-arrow-circle-right

			#dv-detail.row
				.col-md-12.col-xs-12

					input#msg-cancel(type='hidden', value="#{__('cancel')}")
					input#msg-paid(type='hidden', value="#{__('paid')}")
					input#msg-unpaid(type='hidden', value="#{__('unpaid')}")
					input#msg-pack(type='hidden', value="#{__('pack')}")
					input#msg-unpack(type='hidden', value="#{__('unpack')}")
					input#msg-awaiting_payment(type='hidden', value="#{__('Awaiting Payment')}")
					input#msg-awaiting_stock(type='hidden', value="#{__('Awaiting Stock')}")
					input#msg-shipped(type="hidden", value="#{__('shipped')}")
					input#msg-awaiting_shipment(type="hidden", value="#{__('awaiting shipment')}")
					input#msg-total(type='hidden', value="#{__('total')}")

					.box.box-primary.order_history.hidden
						.box-header
							h3.box-title #{__('Order History')}
						.box-body.table-responsive
							table.table.table-condensed.table-hover(width="100%")
								thead
									tr.font-sm
										th(width="95")  #{__('order number')}
										th.text-center(width="120")  #{__('orderDate')}
										th #{__('status')}
										th.text-center(width="65")  #{__('item(s)')}
										th.text-center(width="55")  #{__('piece(s)')}
										th.text-center(width="65")  #{__('price')}
										th.text-center(width="65")  #{__('shipping')}
										th.text-right(width="85")  #{__('grand total')}
								tbody


		else
			.callout.callout-info.text-center
				span.loading.text-muted &nbsp;#{__('welcome to new system v2')}


	.col-md-3
		.box.box-success.box-solid
			.box-header
				h3.box-title LINE Official
			.box-body
				center Line ID : 
					b @RemaxThailand
					br
					img.img-responsive.margin-top-5.margin-bottom-5(src="https://img.powerdd.com/web/contact/line-remaxthailand.png")
				|  กรุณา Add Line เพื่อสอบถามข้อมูล และรับสิทธิพิเศษต่างๆ รวมทั้งแจ้งการชำระเงินเพื่อยืนยันคำสั่งซื้อค่ะ



	#dv-input_shipping.modal.fade(tabindex='-1', role='dialog')
		.modal-dialog.modal-sm
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal')
						span(aria-hidden='true') &times;
						span.sr-only #{__('close')}
					h4.modal-title #{__('shipping method')}
				.modal-body
					form
						.form-group
							span #{__('shipping method')} : 
							strong#shippingMethod
						.form-group
							span #{__('Shipping - Tracking Number')} : 
							strong#trackingNo
						.form-group.hidden
							select#shipping_method.form-control
								option(value="KE", selected) #{__('Shipping - Kerry Express')}
								option(value="CC") #{__('Shipping - Collect Call')}
								option(value="SS") #{__('Shipping - Self Service')}
								option(value="EMS") #{__('Shipping - EMS')}
								option(value="RGT") #{__('Shipping - Registered')}
				.modal-footer
					.input-group
						span.input-group-btn
							a.btn-tracking.btn.btn-warning.input-EMS.input-RGT.hidden(href='http://track.thailandpost.co.th/tracking/default.aspx?lang=#{config.language}', target="_blank")
								i.fa.fa-check-circle
								|   #{__('Shipping - Tracking')}
							a.btn-tracking.btn.btn-warning.input-KE.hidden(href='http://th.ke.rnd.kerrylogistics.com/shipmenttracking/', target="_blank")
								i.fa.fa-check-circle
								|   #{__('Shipping - Tracking')}