doctype html
html(lang='en')
	head
		title #{__('screen-'+data.screen+'-header')} | #{config.systemName}
		meta(charset='utf-8')
		meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
		link(rel='stylesheet', href='//src.remaxthailand.co.th/libs/bootstrap/3.3.5/css/bootstrap.min.css')
		link(rel='stylesheet', href='//src.remaxthailand.co.th/libs/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='//src.remaxthailand.co.th/libs/adminlte/latest/css/AdminLTE.min.css')
		link(rel='stylesheet', href='//src.remaxthailand.co.th/libs/adminlte/latest/css/skins/skin-blue.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		if data.screen == 'admin-member'
			link(rel='stylesheet', href='//src.remaxthailand.co.th/libs/adminlte/latest/plugins/datatables/dataTables.bootstrap.css')

	body.skin-blue.sidebar-mini

		input#apiUrl(type='hidden', value='#{config.apiUrl}')
		input#role(type="hidden", value="#{data.memberInfo.memberType}")
		input#lang(type="hidden", value="#{data.language}")

		.wrapper
			header.main-header
				a.logo(href='index2.html')
					span.logo-mini
						b RMX
					span.logo-lg
						b Remax
						| Thailand
				// Header Navbar: style can be found in header.less
				nav.navbar.navbar-static-top(role='navigation')
					// Sidebar toggle button
					a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
						span.sr-only Toggle navigation
					// Navbar Right Menu
					.navbar-custom-menu
						ul.nav.navbar-nav
							// Messages: style can be found in dropdown.less
							li.dropdown.messages-menu
								a.dropdown-toggle(href='#', data-toggle='dropdown')
									i.fa.fa-envelope-o
									span.label.label-success 4
								ul.dropdown-menu
									li.header You have 4 messages
									li
										// inner menu: contains the actual data
										ul.menu
											li
												// start message
												a(href='#')
													.pull-left
														img.img-circle(src='//src.remaxthailand.co.th/img/web/logo/remax-profile.png', alt='User Image')
													h4
														| Support Team
														small
															i.fa.fa-clock-o
															|	5 mins
													p Why not buy a new awesome theme?
											// end message
											li
												a(href='#')
													.pull-left
														img.img-circle(src='//src.remaxthailand.co.th/libs/adminlte/latest/img/user3-128x128.jpg', alt='User Image')
													h4
														| AdminLTE Design Team
														small
															i.fa.fa-clock-o
															|	2 hours
													p Why not buy a new awesome theme?
											li
												a(href='#')
													.pull-left
														img.img-circle(src='//src.remaxthailand.co.th/libs/adminlte/latest/img/user4-128x128.jpg', alt='User Image')
													h4
														| Developers
														small
															i.fa.fa-clock-o
															|	Today
													p Why not buy a new awesome theme?
											li
												a(href='#')
													.pull-left
														img.img-circle(src='//src.remaxthailand.co.th/libs/adminlte/latest/img/user3-128x128.jpg', alt='User Image')
													h4
														| Sales Department
														small
															i.fa.fa-clock-o
															|	Yesterday
													p Why not buy a new awesome theme?
											li
												a(href='#')
													.pull-left
														img.img-circle(src='//src.remaxthailand.co.th/libs/adminlte/latest/img/user4-128x128.jpg', alt='User Image')
													h4
														| Reviewers
														small
															i.fa.fa-clock-o
															|	2 days
													p Why not buy a new awesome theme?
									li.footer
										a(href='#') See All Messages
							// Notifications: style can be found in dropdown.less
							li.dropdown.notifications-menu
								a.dropdown-toggle(href='#', data-toggle='dropdown')
									i.fa.fa-bell-o
									span.label.label-warning 10
								ul.dropdown-menu
									li.header You have 10 notifications
									li
										// inner menu: contains the actual data
										ul.menu
											li
												a(href='#')
													i.fa.fa-users.text-aqua
													|	5 new members joined today
											li
												a(href='#')
													i.fa.fa-warning.text-yellow
													|	Very long description here that may not fit into the
													|											 page and may cause design problems
											li
												a(href='#')
													i.fa.fa-users.text-red
													|	5 new members joined
											li
												a(href='#')
													i.fa.fa-shopping-cart.text-green
													|	25 sales made
											li
												a(href='#')
													i.fa.fa-user.text-red
													|	You changed your username
									li.footer
										a(href='#') View all
							// Tasks: style can be found in dropdown.less
							li.dropdown.tasks-menu
								a.dropdown-toggle(href='#', data-toggle='dropdown')
									i.fa.fa-flag-o
									span.label.label-danger 9
								ul.dropdown-menu
									li.header You have 9 tasks
									li
										// inner menu: contains the actual data
										ul.menu
											li
												// Task item
												a(href='#')
													h3
														| Design some buttons
														small.pull-right 20%
													.progress.xs
														.progress-bar.progress-bar-aqua(style='width: 20%', role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 20% Complete
											// end task item
											li
												// Task item
												a(href='#')
													h3
														| Create a nice theme
														small.pull-right 40%
													.progress.xs
														.progress-bar.progress-bar-green(style='width: 40%', role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 40% Complete
											// end task item
											li
												// Task item
												a(href='#')
													h3
														| Some task I need to do
														small.pull-right 60%
													.progress.xs
														.progress-bar.progress-bar-red(style='width: 60%', role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 60% Complete
											// end task item
											li
												// Task item
												a(href='#')
													h3
														| Make beautiful transitions
														small.pull-right 80%
													.progress.xs
														.progress-bar.progress-bar-yellow(style='width: 80%', role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
															span.sr-only 80% Complete
											// end task item
									li.footer
										a(href='#') View all tasks
							// User Account: style can be found in dropdown.less
							
									
							li.dropdown
								a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false") #{__('language')} 
									span.caret
								ul.dropdown-menu(role="menu")
									li(class="#{data.language == 'th' ? 'active' : ''}")
										a(href="#{data.language == 'th' ? 'javascript:void(0)' : data.webUrl+'/language/th'}", class="#{data.language == 'th' ? 'color-white' : ''}") #{__('languageThai')}
									li(class="#{data.language == 'en' ? 'active' : ''}")
										a(href="#{data.language == 'en' ? 'javascript:void(0)' : data.webUrl+'/language/en'}", class="#{data.language == 'en' ? 'color-white' : ''}") #{__('languageEnglish')}

							if data.memberType.length > 1
								li.dropdown
									a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false") #{__('memberRoles')} 
										span.caret
									ul.dropdown-menu(role="menu")
										for list in data.memberType
											li(class="#{list.memberType == data.memberInfo.memberType ? 'active' : ''}")
												a(href="#{data.webUrl}/updateRole/#{list.memberType}") #{__('role-'+list.memberType)}

							li.dropdown.user.user-menu
								a.dropdown-toggle(href='#', data-toggle='dropdown')
									img.user-image(src='//src.remaxthailand.co.th/img/web/logo/remax-profile.png', alt='User Image')
									span #{data.memberInfo.displayName}
								ul.dropdown-menu
									// User image
									li.user-header
										img.img-circle(src='//src.remaxthailand.co.th/img/web/logo/remax-profile.png', alt='User Image')
										p
											| #{data.memberInfo.displayName} - #{__('role-'+data.memberInfo.memberType)}
											small Member since Nov. 2012
									// Menu Body
									li.user-body
										.row
											.col-xs-4.text-center
												a(href='#') Followers
											.col-xs-4.text-center
												a(href='#') Sales
											.col-xs-4.text-center
												a(href='#') Friends
										// /.row
									// Menu Footer
									li.user-footer
										.pull-left
											a.btn.btn-default.btn-flat(href='#{data.webUrl}/member/profile') #{__('Profile')}
										.pull-right
											a.btn.btn-default.btn-flat(href='#{data.webUrl}/logout') #{__('Sign out')}


			// Left side column. contains the sidebar
			aside.main-sidebar
				// sidebar: style can be found in sidebar.less
				section.sidebar
					// Sidebar user panel
					.user-panel
						.pull-left.image
							img.img-circle(src='//src.remaxthailand.co.th/img/web/logo/remax-profile.png', alt='User Image')
						.pull-left.info
							p #{data.memberInfo.displayName}
							a(href='#')
								i.fa.fa-circle.text-success
								|	#{__('role-'+data.memberInfo.memberType)}
					// search form
					form.sidebar-form(action='#', method='get')
						.input-group
							input.form-control(type='text', name='q', placeholder="#{__('search')}...")
							span.input-group-btn
								button#search-btn.btn.btn-flat(type='submit', name='search')
									i.fa.fa-search

					ul.sidebar-menu
						for menu, key in data.menu
							li(class="#{data.screen == key || data.screen.indexOf(key+'-') > -1 ? 'active' : ''} #{menu.hasChild == 1 ? 'treeview' : ''}")
								a(href="#{data.webUrl}#{menu.link}")
									i(class="fa fa-#{menu.icon}") 
									span &nbsp;#{__('screen-'+key+'-header')}
									if menu.hasChild == 1
										i.fa.fa-angle-left.pull-right
									if menu.hasChild
										ul.treeview-menu
											for subMenu, subKey in menu.child
												li(id="subMenu#{subMenu.replace(/\//g, '-')}", class="#{data.screen == subKey ? 'active' : ''}")
													a(href="#{subMenu}")
														i.fa.fa-circle-o(class="#{data.screen == subKey ? 'text-yellow' : ''}") 
														span &nbsp; #{__('screen-'+subKey+'-header')}
														small.badge.pull-right.hidden

			.content-wrapper
				// Content Header (Page header)
				section.content-header
					h1
						| &nbsp;#{__('screen-'+data.screen+'-header')} 
						small #{__('screen-'+data.screen+'-detail')}
					ol.breadcrumb
						li
							a(href="/")
								i.fa.fa-dashboard
								| &nbsp;#{__('home')}
						li.active &nbsp;#{__('screen-'+data.screen+'-header')} 


				// Main content
				section.content
					block content

			.control-sidebar-bg

		script(src='//src.remaxthailand.co.th/libs/jquery/2.1.4/jquery.min.js')
		script(src='//src.remaxthailand.co.th/libs/js-cookie/2.1.0/js.cookie.min.js')
		script(src='//src.remaxthailand.co.th/libs/bootstrap/3.3.5/js/bootstrap.min.js')
		script(src='//src.remaxthailand.co.th/libs/adminlte/latest/js/app.min.js')
		script(src='//src.remaxthailand.co.th/libs/jquery-storage-api/1.7.2/jquery.storageapi.min.js')
		script(src='//src.remaxthailand.co.th/libs/jquery-lazyload/1.9.1/jquery.lazyload.min.js')
		script(src='https://src.remaxthailand.co.th/libs/moment/2.10.6/moment-with-locales.min.js')
		script(src='/javascripts/common.js')

		if data.screen == 'admin-member'
			script(src='//src.remaxthailand.co.th/libs/adminlte/latest/plugins/datatables/jquery.dataTables.min.js')
			script(src='//src.remaxthailand.co.th/libs/adminlte/latest/plugins/datatables/dataTables.bootstrap.min.js')

		if data.screen == 'product' || data.screen == 'cart' 
			script(src='//src.remaxthailand.co.th/libs/scrolltofixed/1.0.7/jquery-scrolltofixed-min.js')

		if data.screen == 'report-customer-order'
			script(src='//www.gstatic.com/charts/loader.js')
			script(src='//www.google.com/jsapi')

		if data.hasScript
			script(src='/javascripts/#{data.screen}.js')